body {
  background-color: rgb(187, 187, 187);
  margin: 0px;
  padding: 0px;
  color: white;
  background-image: linear-gradient(to right, #283048, #859398);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.App {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}